<?php 
function view_emp_details_temp()
{
    $draw = $_POST["draw"];//counter used by DataTables to ensure that the Ajax returns from server-side processing requests are drawn in sequence by DataTables
    $orderByColumnIndex  = $_POST['order'][0]['column'];// index of the sorting column (0 index based - i.e. 0 is the first record)
    $orderBy     = $_POST['columns'][$orderByColumnIndex]['data'];//Get name of the sorting column from its index
    $orderType   = $_POST['order'][0]['dir']; // ASC or DESC
    $start       = $_POST["start"];//Paging first record indicator.
    $length      = $_POST['length'];//Number of records that the table can display in the current draw
    $emp_type    = $_POST['emp_type'];
    $beforemonth = $_POST['month'];
    $month_days  = $_POST['month_days'];

    $parts = explode("-", $beforemonth);
   // $year  = $parts[0];
     $year  = '2017';
    $month = $parts[1];
    $empDelData = array();

    $this->db->select('af_employee.EMP_NAME,af_employee.EMP_ID,af_employee.EMP_CODE,ET.EMP_TYPE_DESC,ET.EMP_TYPE_ID');
    $this->db->join('af_employee_type as ET','ET.EMP_TYPE_ID=af_employee.EMP_TYPE_ID');
    if($emp_type != 0)
    {
        $this->db->where('af_employee.EMP_TYPE_ID',$this->input->post('emp_type'));
    }
    $empDelData = $this->db->get('af_employee')->result_array();

    $x = 0;
    foreach ($empDelData as $emp) 
    {   
        for ($i=1; $i <= $month_days; $i++) 
        { 

            
            $empDelData[$x]['date_'.$i] = '-';
        }

        $x++;
    }

    $x = 0; 
    foreach ($empDelData as $del) 
    {
        $empDelData[$x]['actions'] = '<button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal" onclick="event.preventDefault();load_single_emp_data('.$del['EMP_CODE'].','.$del['EMP_TYPE_ID'].','.$del['EMP_NAME'].')"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></button>';
        $x++;
    }

    $outputary = array();
    $count = 1;
    foreach ($empDelData as $key => $value) 
    {
        if(!empty($_POST['search']['value']))
        {
            $display = false;
            for($i=0 ; $i<count($_POST['columns']);$i++){

                if($_POST['columns'][$i]['data']!='actions')
                {
                    $column = $_POST['columns'][$i]['data'];//we get the name of each column using its index from POST request

                    $strexist = stripos($value[$column],$_POST['search']['value']);

                    if($strexist)
                    {
                        $value['count'] = $count;
                        $outputary[] = $value;
                        $count++;
                    }
                    
                }
            }
        }
        else
        {
            $value['count'] = $count;
            $outputary[] = $value;
            $count++;
        }
    }

    $displayary = array();

    foreach ($outputary as $out) 
    {
        if(($out['count']>$start) && ($out['count']<=($start+$length)))
        {
            $displayary[] = $out;
        }
    }

    $rec_count = count($displayary);

    $output = array(
        "draw" => intval($draw),
        "recordsTotal" => $rec_count,
        "recordsFiltered" => count($outputary),
        "data" => $displayary
    );

    return $output;
}
?> 
<!-- back end - end -->
<form class="form-horizontal" role="form" method="post" action="<?php echo base_url('aquafresh/employee_activity_report/search_data')?>" id="grd_form" autocomplete="off" novalidate>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Employee Activity Report 
            </header>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-xs-3">
                        <div class="form-group" style="padding-bottom: 15px; padding-left: 10px;">
                            <label class="control-label">Employee</label>
                            <select class="form-control" data-validation="required" data-validation-error-msg-required="Field can not be empty" name="emp_type"  id="emp_type" style="width: 100%;">
                                            <option value="0">All</option>
                                            <?php
                                            $emp = $this->db->get('af_employee_type')->result_array();
                                            foreach ($emp as $row):
                                                $selected = "";

                                                ?>
                                                <option  value="<?php echo $row['EMP_TYPE_ID']; ?>"  <?= $selected ?>>
                                                    <?php echo $row['EMP_TYPE_DESC']; ?>
                                                </option>
                                                <?php
                                            endforeach;
                                            ?>
                                        </select>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group" style="padding-bottom: 15px; padding-left: 10px; margin-left: 110px;">
                            <label class="control-label" >Month</label>
                            <div class="input-group input-append date" id="datePicker">
                                <input id="month" name="month" value="" class="datepicker form-control input-sm col-xs-5"  type="text" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <div class="input-group input-append date" id="datePicker">
                               <button type="submit" class="btn btn-primary" style="margin-top: 4px;" onclick="event.preventDefault();load_report_table();">Search</button>
                            </div>
                        </div>
                    </div>
  
                </div>

            </div>
         </section>

    </div>
</div>
<!-- </form>  -->
<div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                   Employee Activity Report
                </header>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="user_tab">
                        <div class="box-body" id="editbankloandetails">
                            <table id="empDelData_table" class="table table-bordered table-striped view">
                            <thead>
                                <tr id="empDelDataTbl_header">
                                </tr>
                                <tr id="empDelDataTbl_header2">
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                                
                        <!--    <tbody>
                                    <?php
                                    //$vehicale_capacity = 0;
                                    //$st_bottle = 0;
                                    //$deleverd_bottle = 0;
                                    //$phy_return = 0;
                                    //$empty_bottles = 0;
                                   // $diff_milage = 0;
                                    
                                  //  foreach ($employeeactivity as $row) {
                                        //if($row['DEL_PLAN_ROUTES'] == 'FF'){
                                        ?>
                                        <tr class="hidden">
                                           <td><?php //echo $row['DRIVER']; ?></td>
                                            <td><?php //echo $row['ROUTER1']; ?></td>
                                            <td class="hidden"><?php //echo $row['ROUTER2']; ?></td>
                                            <td class="hidden"></td>
                                            <td class="hidden"><?php //echo $row['DAYS']; ?></td>
                                            <td class="hidden"><?php //echo $row['DAYS']; ?></td>
                                            <td class="hidden"><?php //echo $row['DAYS']; ?></td>
                                            <td class="hidden"><?php //echo $row['TOTAL_BOTTLES']; ?></td>
                                            <td class="hidden"><?php //echo $row['TOTAL_BOTTLES']; ?></td>
                                            <td class="hidden"><?php //echo $row['TOTAL_BOTTLES']; ?></td>
                                            <td class="hidden"><?php //echo $row['DRIVERCODE']; ?></td>
                                            <td class="hidden"><?php //echo $row['ROUTER1CODE']; ?></td>
                                            <td class="hidden"><?php// echo $row['ROUTER2CODE']; ?></td>
                                            <td class="hidden"><?php //echo $row['DRIVERTYPE']; ?></td>
                                            <td class="hidden"><?php //echo $row['ROUTER1TYPE']; ?></td>
                                            <td class="hidden"><?php //echo $row['ROUTER2TYPE']; ?></td>
                                                               
         
                                        </tr>
                                        <?php
                                        //$vehicale_capacity += $row['VEHICLE_CAPACITY'];
                                        //$st_bottle += $row['START_BOTTLES'];
                                        //$deleverd_bottle += $row['DELIVERED_BOTTLES'];
                                        //$phy_return += $row['PHY_RETURN'];
                                        //$empty_bottles += $row['EMPTY_BOTTLES'];
                                        //$diff_milage += $row['MILEGE'];
                                        
                                       // }
                                   // }
                                     
                                    ?>
  
                                </tbody>
                                 <tfoot id=""> 
                                 
                                </tfoot>-->

                            </table>
                        
                        </div>
                       
                    </div>
                    
                </div>

            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header id="empName" class="panel-heading">
                   
                </header>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="user_tab">
                        <div class="box-body" id="editbankloandetails">
                            <table id="example" class="table table-bordered table-striped viewregstudent">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Day</th>
                                        <th>Vehicle Series Number</th>
                                        <th>Route Code</th>
                                        <th>Driver Code</th>
                                        <th>Driver Name</th>
                                        <th>Router 1</th>
                                        <th>Router 2</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Time Taken</th>
                                        <th>Standard Time</th>
                                        <th>Variance</th>
                                        <th>Number of Trips</th>
                                        <th>Vehicle Capacity</th>
                                        <th>Bottles Loaded</th>
                                        <th>Bottles Delivered</th>
                                        <th>Returned Full Bottles</th>
                                        <th>Difference</th>
                                        <th>Returned Empty Bottles</th>
                                        <th>Differences</th>
                                        <!-- <th>Bata Entitlement</th>
                                        <th>Tea Money Entitlement</th> -->
                                    </tr>
                                    <tr>
                                    </tr>
                                </thead>

                            </table>
                        
                        </div>
                       
                    </div>
                    
                </div>
                 <div class="panel-footer">
                            <div class="form-group">
                                <div class="col-md-11">
                                    <button type="submit" class="btn btn-primary" target="blank">Process Plan</button> 

                                    <!-- <button type="submit" class="btn btn-default">Reset</button> -->
                                </div>
                            </div>
                        </div>

            </section>
        </div>
    </div>

</form> 

<script type="text/javascript" src="<?php echo base_url('js/moment.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo base_url('js/common.js'); ?>"></script>
<script type="text/javascript" src="<?php echo base_url('js/bootstrap-datetimepicker.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo base_url('assets/select2/select2.full.min.js'); ?>"></script>
<link rel="stylesheet" href="<?php echo base_url('css/unicorn.css') ?>">
<link rel="stylesheet" href="<?php echo base_url('assets/select2/select2.min.css') ?>">
<script src='<?= base_url("assets/datepicker/bootstrap-datepicker.js") ?>'></script>
<link rel="stylesheet" href="<?= base_url('assets/datepicker/datepicker3.css') ?>">

<link href="<?php echo base_url('assets/datatables/dataTables.bootstrap.css')?>" rel="stylesheet" />
<script type="text/javascript" src="<?php echo base_url('assets/jquery-2.2.3.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo base_url('assets/datatables/jquery.dataTables.min.js')?>"></script>
<script type="text/javascript" src="<?php echo base_url('assets/datatables/dataTables.bootstrap.min.js')?>"></script>

<script type="text/javascript">

$(document).ready(function (){
    load_report_table();        
});

function load_report_table()
{
    month_days = load_header();

    if(month_days > 0)
    {
        load_content(month_days);
    }      
}

function load_content(month_days)
{
    var emp_type = $('#emp_type').val();
    var month = $('#month').val();

    displayAry = new Array();
    displayAry.push({"data" : "EMP_NAME"});
    displayAry.push({"data" : "EMP_TYPE_DESC"});


    for(var j=1; j<=month_days; j++)
    {
        displayAry.push({"data" : 'date_'+j});

        console.log("displayAry",displayAry);
    }

   // alert(displayAry.data);

    $('#empDelData_table').DataTable().destroy();

    $('#empDelData_table').DataTable({
        "processing": true,
        "serverSide": true,
        "dom" : '<"row"<"col-md-6 form-group"l><"col-md-6 form-group text-left"f>>rt<"row"<"col-md-3"i><"col-md-9"p>><"clear">',
        "ajax": {
            url: "<?php echo base_url('aquafresh/employee_activity_report/view_emp_details_temp')?>",
            type: 'POST',
            data:{'emp_type':emp_type, 'month':month,'month_days':month_days}
        },
        "columns": displayAry,
        // "columns": [
        //     {"data": "EMP_NAME"},
        //     {"data": "EMP_TYPE_DESC"},
        //     {"data": "pay_custype"},
        //     {"data": "customer"},
        //     {"data": "pay_description"},
        //     {"data": "pay_date"},
        //     {"data": "pay_amount"},
        //     {"data": "actions"},
        // ],
    });

    //$(".dataTables_filter").css('white-space','nowrap');
    //$(".dataTables_filter").css('width','100%');
    $(".dataTables_length select").addClass("form-control ");
    // $(".dataTables_filter label").addClass("control-label ");
    $(".dataTables_filter input").addClass("form-control ");
    $(".dataTables_paginate a").addClass("btn btn-sm ");
}

function load_header()
{
    selectedmonth = $('#month').val();

    selectedfirst = selectedmonth+'-1';

    date = new Date(selectedfirst);

    lastdate = new Date(date.getFullYear(), date.getMonth() + 1, 0);

    var n = lastdate.getDate();

    $('#empDelDataTbl_header').empty();
    $('#empDelDataTbl_header').append($("<th>Employee Name</th><th>EPF Number</th>"));
    $('#empDelDataTbl_header2').empty();
    $('#empDelDataTbl_header2').append($("<th></th><th></th>"));

    var weekday = new Array();
    weekday[0] = "Sun";
    weekday[1] = "Mon";
    weekday[2] = "Tue";
    weekday[3] = "Wed";
    weekday[4] = "Thu";
    weekday[5] = "Fri";
    weekday[6] = "Sat";
             
    for(var j=1; j<=n; j++){

        colmdate = new Date((selectedmonth+'-'+j));
        colmday  = colmdate.getDay();

        $('#empDelDataTbl_header').append($("<th></th>").text(j));
        $('#empDelDataTbl_header2').append($("<th></th>").text(weekday[colmday]));

    }
    
    $('#empDelDataTbl_header').append($("<th></th>"));
    $('#empDelDataTbl_header2').append($("<th></th>"));

    return n;
}

var d = new Date();
var currMonth = d.getMonth();
var currYear = d.getFullYear();
var startDate = new Date(currYear,currMonth);
       

$('.datepicker').datepicker({
    autoclose: true,
    minViewMode: 1,
    //format: 'MM - yyyy'
    format: 'yyyy-MM'
}).on('changeDate', function(selected){
    FromEndDate = new Date(selected.date.valueOf());
    FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
    $('.from').datepicker('setEndDate', FromEndDate);
    
    //alert($('.datepicker').val());
    //tableLoad();
}); 
$('.datepicker').datepicker("setDate", startDate);  
</script>

